<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>APL/UW Tupelo Store Web Access</display-name>
  <description></description>
  
  
  <listener>
    <listener-class>
      edu.uw.apl.tupelo.http.server.ContextListener
    </listener-class>
  </listener>

<!--
  <filter>
    <filter-name>SnoopFilter</filter-name>
    <filter-class>
      edu.uw.apl.commons.servletfilters.snoop.SnoopFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SnoopFilter</filter-name>
    <url-pattern>/index.html</url-pattern>
  </filter-mapping>
-->

<!--
  <servlet>
    <servlet-name>MetadataServlet</servlet-name>
    <description></description>
    <servlet-class>
      edu.uw.apl.mwa.tupelo.webapp.server.MetadataServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MetadataServlet</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>	
-->
  <servlet>
    <servlet-name>LogLevelServlet</servlet-name>
    <description></description>
    <servlet-class>
      edu.uw.apl.tupelo.http.server.LogLevelServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogLevelServlet</servlet-name>
    <url-pattern>/logging/*</url-pattern>
  </servlet-mapping>	

  <servlet>
    <servlet-name>MiscServlet</servlet-name>
    <description></description>
    <servlet-class>
      edu.uw.apl.tupelo.http.server.MiscServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MiscServlet</servlet-name>
    <url-pattern>/uuid</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>MiscServlet</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>MiscServlet</servlet-name>
    <url-pattern>/usablespace</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>MiscServlet</servlet-name>
    <url-pattern>/newsession</url-pattern>
  </servlet-mapping>	

  <servlet>
    <servlet-name>AttributesServlet</servlet-name>
    <description></description>
    <servlet-class>
      edu.uw.apl.tupelo.http.server.AttributesServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AttributesServlet</servlet-name>
    <url-pattern>/disks/attr/*</url-pattern>
  </servlet-mapping>	

  <servlet>
    <servlet-name>DataServlet</servlet-name>
    <description></description>
    <servlet-class>
      edu.uw.apl.tupelo.http.server.DataServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/disks/data/*</url-pattern>
  </servlet-mapping>	

  <servlet>
    <servlet-name>ToolsServlet</servlet-name>
    <description></description>
    <servlet-class>
      edu.uw.apl.tupelo.http.server.ToolsServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ToolsServlet</servlet-name>
    <url-pattern>/tools/*</url-pattern>
  </servlet-mapping>	

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>
